In [1]:
# Setup
import pandas as pd
import numpy as np

In [2]:
#setup to download data directly from the databank
import pandas_datareader
import datetime

In [3]:
#setup to download data directly from world data bank
from pandas_datareader import wb

In [4]:
#define countries we are looking for
countries = ["CN","JP","BR","US","DK","ES","TM","IN","NG"]

In [5]:
#define indicator
indicators = {"NY.GDP.PCAP.KD":"GDP per capita", "NY.GDP.MKTP.CD":"GDP(current US $)", "SP.POP.TOTL":"Population total", 
              "SP.URB.TOTL.IN.ZS":"Urban Population in %", "SP.DYN.TFRT.IN":"Fertility Rate", "SE.ADT.LITR.ZS": "Literacy rate, adult total in %" }

In [6]:
#example download world data bank shown in the lecture
data_wb = wb.download(indicator= indicators, country= countries, start=1990, end=2017)
data_wb = data_wb.rename(columns = {"NY.GDP.PCAP.KD":"gdp_pC","NY.GDP.MKTP.CD":"gdp", "SP.POP.TOTL":"pop", "SP.URB.TOTL.IN.ZS":"urban_pop%", 
                                    "SP.DYN.TFRT.IN":"frt", "SE.ADT.LITR.ZS":"litr"})
data_wb = data_wb.reset_index()
data_wb.head(-5)

,country,year,gdp_pC,gdp,pop,urban_pop%,frt,litr
0,Brazil,2017,10888.982385,2.055506e+12,209288278,86.309,NaN,NaN
1,Brazil,2016,10868.653444,1.793989e+12,207652865,86.042,1.7260,NaN
2,Brazil,2015,11351.565748,1.802214e+12,205962108,85.770,1.7400,92.04790
3,Brazil,2014,11870.148408,2.455994e+12,204213133,85.492,1.7530,91.72943
4,Brazil,2013,11915.417054,2.472807e+12,202408632,85.209,1.7650,91.48424
5,Brazil,2012,11673.770536,2.465189e+12,200560983,84.923,1.7770,91.33785
6,Brazil,2011,11560.418751,2.616202e+12,198686688,84.631,1.7900,91.41124
7,Brazil,2010,11224.154083,2.208872e+12,196796269,84.335,1.8050,90.37918
8,Brazil,2009,10538.778282,1.667020e+12,194895996,84.044,1.8240,90.29821
9,Brazil,2008,10656.869466,1.695825e+12,192979029,83.749,1.8510,90.03662
10,Brazil,2007,10244.267153,1.397084e+12,191026637,83.448,1.8840,90.00937
11,Brazil,2006,9761.834283,1.107640e+12,189012412,83.143,1.9260,89.61523
12,Brazil,2005,9495.484650,8.916302e+11,186917361,82.834,1.9750,NaN
13,Brazil,2004,9309.892056,6.693167e+11,184738458,82.521,2.0330,88.61624
14,Brazil,2003,8911.319512,5.583199e+11,182482149,82.203,2.0960,NaN
15,Brazil,2002,8924.896961,5.079625e+11,180151021,81.880,2.1630,NaN
16,Brazil,2001,8777.357134,5.593723e+11,177750670,81.553,2.2320,NaN
17,Brazil,2000,8779.290799,6.554206e+11,175287587,81.192,2.3000,86.36788
18,Brazil,1999,8555.915670,5.993886e+11,172759243,80.496,2.3650,NaN
19,Brazil,1998,8645.513397,8.637234e+11,170170640,79.781,2.4260,NaN
20,Brazil,1997,8751.379990,8.831996e+11,167545164,79.048,2.4820,NaN
21,Brazil,1996,8599.101647,8.504264e+11,164913306,78.302,2.5350,NaN
22,Brazil,1995,8549.021520,7.693054e+11,162296612,77.610,2.5860,NaN
23,Brazil,1994,8320.260475,5.581120e+11,159705123,76.903,2.6380,NaN
24,Brazil,1993,8028.203927,4.377986e+11,157132682,76.181,2.6940,NaN
25,Brazil,1992,7797.827261,4.005992e+11,154564278,75.444,2.7560,NaN
26,Brazil,1991,7967.803378,6.028600e+11,151976577,74.690,2.8270,NaN
27,Brazil,1990,7987.055216,4.619518e+11,149352145,73.922,2.9090,NaN
28,China,2017,7329.089299,1.223770e+13,1386395000,57.960,NaN,NaN
29,China,2016,6894.464522,1.119099e+13,1378665000,56.736,1.6240,NaN
...,...,...,...,...,...,...,...,...
217,Turkmenistan,1996,2151.272564,2.378760e+09,4287344,45.018,3.3230,NaN
218,Turkmenistan,1995,2054.282490,2.474614e+09,4207840,44.794,3.5120,98.77832
219,Turkmenistan,1994,2263.556345,2.496503e+09,4115099,44.734,3.7070,NaN
220,Turkmenistan,1993,2808.248528,3.172880e+09,4010789,44.819,3.8980,NaN
221,Turkmenistan,1992,2845.458058,3.200540e+09,3899843,44.904,4.0710,NaN
222,Turkmenistan,1991,3443.981623,3.208099e+09,3789185,44.990,4.2220,NaN
223,Turkmenistan,1990,3713.356174,3.189540e+09,3683966,45.075,4.3440,NaN
224,United States,2017,53128.539700,1.939060e+13,325719178,82.058,NaN,NaN
225,United States,2016,52319.163351,1.862448e+13,323405935,81.862,1.8000,NaN
226,United States,2015,51933.404806,1.812071e+13,321039839,81.671,1.8435,NaN
227,United States,2014,50871.674083,1.742761e+13,318622525,81.483,1.8625,NaN
228,United States,2013,49971.951357,1.669152e+13,316234505,81.299,1.8575,NaN
229,United States,2012,49498.390916,1.615526e+13,313993272,81.119,1.8805,NaN
230,United States,2011,48786.454976,1.551793e+13,311644280,80.944,1.8945,NaN
231,United States,2010,48375.406946,1.496437e+13,309338421,80.772,1.9310,NaN
232,United States,2009,47575.608563,1.441874e+13,306771529,80.606,2.0020,NaN
233,United States,2008,49364.644550,1.471858e+13,304093966,80.438,2.0720,NaN
234,United States,2007,49979.533843,1.447764e+13,301231207,80.269,2.1200,NaN
235,United States,2006,49575.401014,1.385589e+13,298379912,80.099,2.1080,NaN
236,United States,2005,48755.616061,1.309373e+13,295516599,79.928,2.0570,NaN
237,United States,2004,47614.279862,1.227493e+13,292805298,79.757,2.0515,NaN
238,United States,2003,46304.036090,1.151067e+13,290107933,79.583,2.0475,NaN
239,United States,2002,45428.645678,1.097751e+13,287625193,79.409,2.0205,NaN
240,United States,2001,45047.487198,1.062182e+13,284968955,79.234,2.0305,NaN
241,United States,2000,45055.817918,1.028478e+13,282162411,79.057,2.0560,NaN
242,United States,1999,43768.884993,9.660624e+12,279040000,78.742,2.0075,NaN
243,United States,1998,42292.891201,9.089168e+12,275854000,78.377,1.9990,NaN
244,United States,1997,40965.846645,8.608515e+12,272657000,78.008,1.9710,NaN
245,United States,1996,39681.519858,8.100201e+12,269394000,77.636,1.9760,NaN
246,United States,1995,38677.715088,7.664060e+12,266278000,77.257,1.9780,NaN

IMPORTANT: Change the following code to your's and if you run it twice you need to change the name or we figure sth out on how to overwrite the existing one

In [7]:
# save datasheet as excel (just to see it)_index=false to avoid saving the index
writer = pd.ExcelWriter('pandas_simple.xlsx', engine='xlsxwriter')
data_wb.to_excel(r"C:\Users\BKirs\OneDrive\03_Master\07_IntroToProgramming\DataProject_IP\projects-2019-tba\dataproject\dataproject\Dataproject_Bianca\data_wb1.xlsx")

In [43]:
# Bianca

#floats show comma separators by default
pd.options.display.float_format = '{:,}'.format

#to round all the numbers:
round(data_wb.head(),2)

,country,year,gdp_pC,pop,urban_pop%,frt,gdp_in_bil,gdp_in_millions
1,Brazil,2016,"10,868.65",207652865,86.04,1.73,"1,793.99","1,793,989.05"
2,Brazil,2015,"11,351.57",205962108,85.77,1.74,"1,802.21","1,802,214.37"
3,Brazil,2014,"11,870.15",204213133,85.49,1.75,"2,455.99","2,455,993.63"
4,Brazil,2013,"11,915.42",202408632,85.21,1.76,"2,472.81","2,472,806.92"
5,Brazil,2012,"11,673.77",200560983,84.92,1.78,"2,465.19","2,465,188.67"

In [15]:
# Bianca
#new variable for gdp
data_wb['gdp_in_bil'] = data_wb['gdp']/1000000000
data_wb['gdp_in_millions'] = data_wb['gdp']/1000000
#other way to round:
#    data_wb['gdp_in_millions'] = round(data_wb['gdp']/1000000,2)

round(data_wb.head(),2) #just to check

,country,year,gdp_pC,gdp,pop,urban_pop%,frt,litr,gdp_in_bil,gdp_in_millions
0,Brazil,2017,"10,888.98","2,055,505,502,224.73",209288278,86.31,nan,nan,"2,055.51","2,055,505.5"
1,Brazil,2016,"10,868.65","1,793,989,048,409.29",207652865,86.04,1.73,nan,"1,793.99","1,793,989.05"
2,Brazil,2015,"11,351.57","1,802,214,373,741.32",205962108,85.77,1.74,92.05,"1,802.21","1,802,214.37"
3,Brazil,2014,"11,870.15","2,455,993,625,159.37",204213133,85.49,1.75,91.73,"2,455.99","2,455,993.63"
4,Brazil,2013,"11,915.42","2,472,806,919,901.67",202408632,85.21,1.76,91.48,"2,472.81","2,472,806.92"

In [16]:
# Bianca
#drop old variable for gdp
del data_wb['gdp']
round(data_wb.head(),2)

,country,year,gdp_pC,pop,urban_pop%,frt,litr,gdp_in_bil,gdp_in_millions
0,Brazil,2017,"10,888.98",209288278,86.31,nan,nan,"2,055.51","2,055,505.5"
1,Brazil,2016,"10,868.65",207652865,86.04,1.73,nan,"1,793.99","1,793,989.05"
2,Brazil,2015,"11,351.57",205962108,85.77,1.74,92.05,"1,802.21","1,802,214.37"
3,Brazil,2014,"11,870.15",204213133,85.49,1.75,91.73,"2,455.99","2,455,993.63"
4,Brazil,2013,"11,915.42",202408632,85.21,1.76,91.48,"2,472.81","2,472,806.92"

In [17]:
data_wb.shape #how many obs and variables

(252, 9)

In [19]:
#summary statistics
round(data_wb.describe(),2)

,gdp_pC,pop,urban_pop%,frt,litr,gdp_in_bil,gdp_in_millions
count,252.0,252.0,252.0,243.0,37.0,252.0,252.0
mean,"21,233.4","353,535,362.68",62.67,2.5,87.0,"2,711.96","2,711,958.71"
std,"20,848.11","464,366,860.3",22.31,1.43,15.39,"4,160.88","4,160,880.64"
min,530.89,"3,683,966.0",25.55,1.13,48.22,2.38,"2,378.76"
25%,"2,131.25","40,015,504.75",42.57,1.55,88.62,275.61,"275,611.85"
50%,"9,117.39","133,683,074.5",76.1,1.93,91.48,684.5,"684,502.75"
75%,"42,252.61","309,914,885.75",81.58,2.86,97.75,"3,939.73","3,939,734.54"
max,"61,582.17","1,386,395,000.0",91.54,6.49,99.7,"19,390.6","19,390,604.0"

Maybe use a gdp in Millions and then do sth to decimals

In [21]:
# detect for missing data
## count missing data
data_wb.isnull().sum().sum()

224

In [22]:
## number of observations
data_wb.count()

country            252
year               252
gdp_pC             252
pop                252
urban_pop%         252
frt                243
litr                37
gdp_in_bil         252
gdp_in_millions    252
dtype: int64

In [23]:
## missing value of each variable
data_wb.isnull().sum()

country              0
year                 0
gdp_pC               0
pop                  0
urban_pop%           0
frt                  9
litr               215
gdp_in_bil           0
gdp_in_millions      0
dtype: int64

In [24]:
# drop litr
data_wb.drop(['litr'], axis = 1, inplace = True)

In [26]:
#search for the nine missing values in frt
round(data_wb.groupby('year').mean(),2)

        gdp_pC            pop  urban_pop%  frt  gdp_in_bil  gdp_in_millions
year
1990 17,322.45  296,754,760.0       57.06 2.98    1,220.28     1,220,276.39
1991 17,480.06 301,483,292.67       57.39 2.92    1,308.71     1,308,705.39
1992  17,614.3  306,083,205.0       57.71 2.86    1,377.01      1,377,011.2
1993 17,609.77 310,600,879.44       58.04 2.79    1,465.41      1,465,414.7
1994 18,033.67 315,117,504.67       58.36 2.73    1,598.08     1,598,083.82
1995 18,406.36 319,614,237.22        58.7 2.67    1,757.44     1,757,443.26
1996 18,865.59  324,075,633.0       59.06 2.61    1,768.65     1,768,647.55
1997 19,293.24 328,551,075.67       59.42 2.57    1,788.61     1,788,612.17
1998 19,603.76  332,962,293.0       59.78 2.53    1,809.05     1,809,046.54
1999 20,055.02 337,245,148.44       60.15  2.5    1,915.75     1,915,752.35
2000 20,720.96 341,418,281.11       60.51 2.49    2,037.01      2,037,014.2
2001 20,890.64 345,492,576.56       61.01 2.46    2,019.05     2,019,048.24
2002 21,037.15 349,501,391.89       61.58 2.44    2,062.54     2,062,537.84
2003 21,287.16  353,438,047.0       62.16 2.43    2,223.37     2,223,374.18
2004 21,829.81 357,326,551.67       62.73 2.42    2,430.95     2,430,953.58
2005 22,334.86 361,201,371.11        63.3  2.4    2,604.62     2,604,623.95
2006 22,922.76 365,055,870.33       63.85  2.4    2,773.35     2,773,352.32
2007 23,293.87 368,866,720.56       64.38  2.4    3,025.59     3,025,592.53
2008 23,219.73 372,629,864.44        64.9  2.4    3,286.91     3,286,906.37
2009 22,292.24 376,282,314.33       65.41 2.37    3,320.39     3,320,385.68
2010 22,835.79 379,853,381.33       65.92 2.36    3,641.13     3,641,126.05
2011  23,058.5 383,321,600.33       66.36 2.33    3,995.43     3,995,425.48
2012  23,223.3 386,763,761.89       66.78 2.32    4,152.17     4,152,172.23
2013 23,510.03 390,162,322.33        67.2  2.3    4,227.07     4,227,065.56
2014 23,875.14 393,588,005.78       67.62 2.29    4,399.72     4,399,715.92
2015  24,273.4 397,032,474.44       68.04 2.28    4,390.49     4,390,492.72
2016 24,580.47 400,528,213.44       68.46 2.26    4,535.33     4,535,327.09
2017 25,065.09 404,039,377.44       68.89  nan    4,800.74     4,800,736.55

In [31]:
#show frt only for 2017data_wb.loc[data_wb['year'] == "2017", :].head(-1)

In [33]:
# drop the year for which the data is missing 
I = data_wb['year'] == "2017"
data_wb.drop(data_wb[I].index, inplace = True)
# => data cleaning done

In [34]:
#summary statistics
data_wb.describe()

,gdp_pC,pop,urban_pop%,frt,gdp_in_bil,gdp_in_millions
count,243.0,243.0,243.0,243.0,243.0,243.0
mean,"21,091.48179113258","351,664,843.61728394",62.44060082304523,2.500788065843621,"2,634.596567678332","2,634,596.567678333"
std,"20,765.76027926693","461,984,890.14733166",22.364281465961735,1.429511972921093,"4,039.983839633184","4,039,983.839633183"
min,530.894738000648,"3,683,966.0",25.547,1.13,2.37875997544506,"2,378.75997544506"
25%,"2,068.4600920008497","39,973,620.5",42.111999999999995,1.5470000000000002,271.0363222625155,"271,036.3222625155"
50%,"8,924.89696137144","131,972,533.0",76.097,1.926,655.420645476906,"655,420.645476906"
75%,"42,214.99489958621","308,054,975.0",81.391,2.8605,"3,746.61477028235","3,746,614.7702823495"
max,"61,174.5451464235","1,378,665,000.0",91.457,6.49,"18,624.475","18,624,475.0"

In [35]:
data_wb.shape

(243, 8)

In [36]:
data_wb.count()
#=>data cleaning finished

country            243
year               243
gdp_pC             243
pop                243
urban_pop%         243
frt                243
gdp_in_bil         243
gdp_in_millions    243
dtype: int64

In [37]:
# make some cool groupby things see lecture basic_data
##empl.groupby('municipality')['e'].mean().head(10)
##empl.groupby('year')['e'].mean().plot
# demean to compare it better
##stocks2.groupby('firm')['close_demeaned'].plot(legend=True); 
##plt.title('Stock price: deviation from time-average'); 
# perform summary statistics
## nameofdataset.describe()
# maybe create an interactive table for each country
##see load_save_and_structure_data
#correlation table?
# maybe perform a simple regression
# world maps as diagramm

Fertility rate\\
Group B\\
Change the number